.ImplementationsComponent {
  margin: 30px;
  width: 90%;

  h4 {
    margin-top: 5px;
  }

  .implementations-loading {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .implementations {
    margin: 10px;
    display: flex;
    flex-flow: row wrap;

    .implementation {
      width: 200px;
      margin: 1rem;
      border-radius: 2px;
      border: 1px solid #babcbf;
      background: #1c5043;
      box-shadow: #d2d2f9 2px 2px 0px 0px;
      padding: 15px;
      font-size: 20px;

      .implementation-title {
        margin-bottom: 10px;
      }
    }
  }

  .find-implementations {
    margin-left: 10px;
  }

  .all-speak-btn {
    margin-left: 10px;
  }
}