
.hello__form {
    margin: 0 auto;
}

.hello__input {
    font: inherit;
    color: #4ed29e;
    width: 400px;
    border: 3px solid #529dad;
    outline: none;
    border-radius: 4px;
    margin: 2.5rem 2rem 2.5rem 0;
    padding: 1rem;
    max-width: 75%;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 1300px) {


    .hello__input {
        margin: 1.5rem 0 1rem 0;
    }

}